.xans-member-findpasswd { margin:14px 7px 0; padding:0 0 29px; color:#1b1b1b; font-size:13px; }
.xans-member-findpasswd .ec-base-table.typeWrite #mobile_auth_view img,
.xans-member-findpasswd .ec-base-table.typeWrite #ipin_view img { max-width:106px !important; }

/* INPUT SIZE */
.xans-member-findpasswd #searchType,
.xans-member-findpasswd #name,
.xans-member-findpasswd #email,
.xans-member-findpasswd #ssn,
.xans-member-findpasswd input[type="text"] { width:100%; }
.xans-member-findpasswd #mobile1,
.xans-member-findpasswd #mobile2,
.xans-member-findpasswd #mobile3 { max-width:55px; }
.xans-member-findpasswd #ssn1,
.xans-member-findpasswd #ssn2 { width:40%; }

.xans-member-findpasswd .ec-base-button {text-align: center; margin: 20px auto 0;}
.xans-member-findpasswd .ec-base-button.gFull [class*="btn"] {padding: .5rem 3rem;}
.xans-member-findpasswd label,
.xans-member-findpasswd select {font-size: var(--small-font);}
.xans-member-findpasswd input[type="radio"] {width: 15px; height: 15px; background-size: 15px;}